body {
    --header-font: 'Georgia', serif;
    --font-text-theme: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --h1-font: var(--header-font);
    --h2-font: var(--header-font);
    --h3-font: var(--header-font);
    --h4-font: var(--header-font);
    --h5-font: var(--header-font);
    --h6-font: var(--header-font);

    --h1-weight: var(--font-normal);
    --h2-weight: var(--font-normal);
    --h3-weight: var(--font-normal);
    --h4-weight: var(--font-normal);
    --h5-weight: var(--font-normal);
    --h6-weight: var(--font-normal);
}